# Database
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbix-db-password
POSTGRES_DB=zabbix

# Zabbix Server
DB_SERVER_HOST=postgres
ZBX_SERVER_NAME=Zabbix # GUI 上の表示名

# Zabbix Web
ZBX_SERVER_HOST=zabbix-server
DB_SERVER_HOST=postgres

# 言語・ロケール・タイムゾーン
ZBX_DEFAULT_LANGUAGE=ja_JP # Web UI デフォルト言語
LANG=ja_JP.UTF-8           # OS ロケール（UTF-8 指定）
LC_ALL=ja_JP.UTF-8         # OS ロケール（全域適用）
PHP_TZ=Asia/Tokyo          # PHP 側タイムゾーン
TZ=Asia/Tokyo              # コンテナ OS レベル タイムゾーン
